RewriteEngine on 

# redirect html pages to the root domain
RewriteRule ^index\.html$ / [NC,R,L]

# delete .html in url
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]