*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url('../quiz1/img/a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto
}

.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
}

.nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    transition: 300ms;
}

a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
    text-decoration: none;
}

.a{
    width: 85%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.b{
    width: 65%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.c{
    width: 80%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.d{
    width: 65%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.e{
    width: 85%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.btn{
    line-height: 15px;
    height: 35px;
    width: 100%;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
}

/* Homepage */

.content{
    position: absolute;
    width: 930px;
    min-height: 500px;
    height: auto;
    right: 0;
    bottom: 10px;
}

.home{
    position: absolute;
    right: 30px;
    bottom: 0;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.home h1{
    font-size: 80px;
    border-bottom: 5px solid black;
    text-transform: uppercase;
}

.home h3{
    font-size: 20px;
    padding-right: 5px 0;
    opacity: 0.6;
}

/* Profile */

#profile {
    margin: 160px 0 0 300px;
    background-color: black;
    width: 700px;
    height: 500px;
    background-image: url('../quiz1/img/background-profile-4.png');
}

.photo {
    margin-left: 15px;
    max-width: 200px;
    height: auto;
}

.profile-title {
    font-family: 'Roboto', sans-serif; 
    margin-top: -120px; 
    margin-left: 240px; 
    color:white; 
    font-size:42px; 
    text-transform:uppercase;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-body {
    font-family: 'Roboto', sans-serif; 
    margin-top: 80px; 
    margin-left: 240px; 
    color:white; 
    font-size:15px;
}

#contact {
    margin-left: 240px;
    color:white;
    font-family: 'Roboto', sans-serif;
    background-color: #969696;
}

/* Tourist */

#tourist .parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tourist a { 
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-top: 220px;
    text-decoration: none;
    display: inline-block;
}

#img {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/3-color-beach.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-2 {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/singosari-temple.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-3 {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/Coban-Rondo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-4 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/Jodipan-Village.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-5 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/wonosari-tea.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-6 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/goa-china.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-7 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/andeman.JPG');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-8 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/asmara-bay-beach.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-9 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/malang-night-paradise.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

.modal-content {
    background-color: #000000 !important;
    color: white;
}