*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url('../quiz1/img/a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto
}

.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
}

.nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    transition: 300ms;
}

a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
    text-decoration: none;
}

.a{
    width: 85%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.b{
    width: 65%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.c{
    width: 80%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.d{
    width: 65%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.e{
    width: 85%;
    height: 90px;
    font-size: 28px;
    line-height: 90px;
}

.btn{
    line-height: 15px;
    height: 35px;
    width: 100%;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
}

/* Homepage */

.content{
    position: absolute;
    width: 930px;
    min-height: 500px;
    height: auto;
    right: 0;
    bottom: 10px;
}

.home{
    position: absolute;
    right: 30px;
    bottom: 0;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.home h1{
    font-size: 80px;
    border-bottom: 5px solid black;
    text-transform: uppercase;
}

.home h3{
    font-size: 20px;
    padding-right: 5px 0;
    opacity: 0.6;
}

/* Profile */

#profile {
    margin: 160px 0 0 300px;
    background-color: black;
    width: 700px;
    height: 500px;
    background-image: url('../quiz1/img/background-profile-4.png');
}

.profile-title {
    font-family: 'Roboto', sans-serif; 
    margin-top: -120px; 
    margin-left: 240px; 
    color:white; 
    font-size:42px; 
    text-transform:uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-body {
    font-family: 'Roboto', sans-serif; 
    margin-top: 80px; 
    margin-left: 240px; 
    color:white; 
    font-size:15px;
}

#contact {
    margin-left: 240px;
    color:white;
    font-family: 'Roboto', sans-serif;
    background-color: #969696;
}

.photo {
    margin-left: 15px;
    max-width: 200px;
    height: auto;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin-left: 15px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color:#000000;
    color:#ffffff;
}

.flip-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back h3 {
    margin-top: 40%;
}
/* Tourist */

#tourist .parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tourist a { 
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-top: 220px;
    text-decoration: none;
    display: inline-block;
}

#img {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/3-color-beach.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-2 {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/singosari-temple.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-3 {
    margin: 50px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/Coban-Rondo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-4 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/Jodipan-Village.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-5 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/wonosari-tea.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-6 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/goa-china.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-7 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/andeman.JPG');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-8 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/asmara-bay-beach.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

#img-9 {
    margin: 30px 0 0 250px;
    background-color: black;
    width: 270px;
    height: 290px;
    background-image: url('../quiz1/img/malang-night-paradise.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 270px 220px;
}

.modal-content {
    background-color: #000000 !important;
    color: white;
}

/* Food */

#food {
    margin: 100px 0 0 300px;
    background-color: black;
    width: 700px;
    height: 690px;
    padding-top: 10px;
}

/* Hometown */

#hometown {
    margin: 60px 0 0 300px;
    background-color: black;
    width: 710px;
    height:960px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

#hometown h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

#hometown hr {
    width: 100%;
    border-top: 2px solid #ffffff;
}

#hometown p {
    color: #ffffff;
    text-align: justify;
    font-size: 16px;
}

#hometown span {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

#hometown h4 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: -10px;
}

.arema-fc {
    width: 220px;
    height: 180px;
    background: transparent url("../quiz1/img/arema.jpg") no-repeat; 
    background-size: cover;
    position: relative;
}

.arema-fc:before {
    content: "";
    position: absolute;
    left: -1px;
    width: 0;
    height: 3px;    
    border-right: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

.arema-fc:after {
    content: "";
    position: absolute;
    right: -1px;
    width: 0;
    height: 3px;    
    border-left: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

.walikan-language {
    width: 220px;
    height: 180px;
    background: transparent url("../quiz1/img/language.jpg") no-repeat; 
    background-size: cover;
    position: relative;
}

.walikan-language:before {
    content: "";
    position: absolute;
    left: -1px;
    width: 0;
    height: 3px;    
    border-right: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

.walikan-language:after {
    content: "";
    position: absolute;
    right: -1px;
    width: 0;
    height: 3px;    
    border-left: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

.malangan-mask {
    width: 220px;
    height: 180px;
    background: transparent url("../quiz1/img/Malangan-mask.jpg") no-repeat; 
    background-size: cover;
    position: relative;
}

.malangan-mask:before {
    content: "";
    position: absolute;
    left: -1px;
    width: 0;
    height: 3px;    
    border-right: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

.malangan-mask:after {
    content: "";
    position: absolute;
    right: -1px;
    width: 0;
    height: 3px;    
    border-left: 55px solid transparent;
    border-bottom: 90px solid #000000;
    border-top: 90px solid #000000;
}

#title-image {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.arema-text {
    margin: -100px 30px 0 75px;
}

.walikan-text {
    margin: -100px 30px 0 90px;
}

.malangan-text {
    margin: -100px 0 0 65px;
}